* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #0c2f70;
}

main {
    width: 60%;
    margin: auto;
    background-color: white;
}

h1 {
    margin: auto;
    font-size: 50px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    border: 5px groove burlywood;
    padding: 8px 10px;
    background-color: white;
    box-sizing: border-box;
}

.perfil {
    border: 4px groove #0c2f70;
    float:inline-end;
}


h2 {
    margin: auto; 
    width: 25%;
    border: 4px solid #0c2f70;
    text-align: center;
    padding: 5px;
    display: block;
    margin-bottom: 0px;
    background-color: white;
    font-size: 22px;
}

h2 img {vertical-align: middle;}

hr {
    height: 5px; 
    background-color: #c8a06c;
    border: 0px;
    margin-bottom: -20px;
}

a {
    display: inline-block;
    padding: 6px;
    margin: 0px 6px;
    border: 2px solid #c8a06c;
    font-size: large;
    text-decoration: none;
    color: #0c2f70;
}

a:hover {background-color: #5b94ff80;}

a:active {background-color: steelblue;}

header {
    text-align: center;
}

p {
    margin: 15px 50px;
    font-size: 18px;
}

.break_h2 {
    content: "";
    margin: 30px;
    display: block;
    font-size: 24%;
}

li {
    list-style: square inside;
    margin-left: 30px;
}

img {vertical-align: middle;}