* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #0c2f70;
    width: 60%;
    margin: auto;
}

.header-principal {
    text-align: center;
    background-color: white;
    color: black;
    border: 5px ridge burlywood;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    margin-top: 15px;
}

.titulo-principal {
    font-size: 50px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 3px 3px lightgrey;
    margin: 0px;
    padding: 10px;
}

.subtitulo {
    font-family: 'Times New Roman', Times, serif;font-size: x-large;
    text-shadow: 2px 2px lightgrey;
    border: 3px groove #0c2f70;
    width: fit-content;
    margin: auto;
    padding: 8px;
}

.perfil {
    border: 4px groove #0c2f70;
    float:inline-end;
    width: 100px;
}

nav {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    border-radius: 10px;
    padding: 6px;
    margin: 0px 6px;
    border: 2px solid #0c2f70;
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    color: #0c2f70;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.663);
}

a:hover {
    box-shadow: 0px 3px 8px;
    transform: scale(1.05);
}

a:active {background-color: steelblue;}

main {
    background-color: white;
}

.titulo-secao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 25%;
    margin: auto;
    border: 4px groove #0c2f70;
    text-align: center;
    padding: 5px;
    display: block;
    background-color: white;
    font-size: 22px;
}

hr {
    height: 5px; 
    background-color: #c8a06c;
    border: 0px;
    margin-bottom: -23px;
}

p {
    text-align: justify;
    margin: 10px 40px;
    font-size: 18px;
    padding: 10px;
}


ul {
    margin-bottom: 40px;
}

li {
    list-style: square inside;
    margin-left: 25px;
}

.experiencia {
    margin-bottom: 25px;
}

.ling-ferr {
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
}

img {vertical-align: middle;}

.download-curriculo {
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

footer {
    padding: 10px;
}
